body{
    background-color:  #F3F5FC;
    font-family: Inter, sans-serif;

}

main{    

    min-height: 90vh;
    display: grid;
    grid-template-columns: 100%;
    padding: 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;    
 }

 .grid-item {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
  }

  .grid-item div{
    display: flex;

  }

  
  .input-container{    
    height: 90%;
    flex-direction: column; 
  }
  .legend-container{    
    margin: 10px 0;
  }
  .button-container{
    flex-direction: row;
    gap: 45px;
  }
  .preview-container{
    flex-direction: column; 
    margin: auto 0;
  }
  .result-container{
    height: 90%;
    flex-direction: column;
  }

  .result-container textarea{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #495057;
    line-height: 150%;
  }

  .input-container p{
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
    text-align: left;
    margin-bottom: 8px;
  }

  .input-container img{
    max-width: 12px;
  }

textarea{    
  color: #0A3871;
  text-transform: lowercase;
  resize: none;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
  font-style: normal;
  background-color:  transparent;
  border: none;
  font-size: 32px;
  line-height: 48px;
}



textarea:focus{
  outline: 0;
}

textarea::placeholder {
  color: #0A3871;
}

#outputMsg{
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }

  #logo{
    text-align: left;
    max-width: 10%;
  }

  .preview-container img{
    display: none;
  }

  button{
    width: 100%;    
    border-radius: 24px;
    min-height: 50px;
    background-color: transparent;
    border: 1px solid #0A3871;
    cursor: pointer;
    font-weight: 400;
    color: #0A3871;
    padding: 24px;
    flex-grow: 0;
    transition: 0.2s;
  }

  button:hover{    
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



  #enc{    
    background-color: #0a3871;
    color: white;
  }

  .preview-container p:first-of-type{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;    
    color: #343A40;
    order: 0;
  }

  .preview-container p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;  
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  footer{
    justify-content: center;
    text-align: center;
  }

 

  @media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 5% 72% 23%;
    }

    #inputText{
      padding-top: 12%;
    }

    div > .encrypter{
      margin: 0 10% 
    }
    
    .preview-container img{
      display: inherit;
    }

    #inputMsg{
      margin: 0 10%;
    }
  }

  @media only screen and (max-width: 1199px) {
    .grid-container{
      grid-template-rows: 15% 65% 20%;
    }
  }

  @media only screen and (max-width:375px){
    .grid-container{
      grid-template-rows: 5% 72% 23%;
    }
    .button-container{
        flex-direction: column;  
        gap: 20px;              
    }

    
}
